body {
        font-family: Arial, sans-serif;
        padding: 30px;
        text-align: center;
        background: #f2f7ff;
    }

    h2 {
        margin-bottom: 20px;
        color: #003366;
    }

    input {
        width: 260px;
        padding: 10px;
        margin: 10px 0;
        font-size: 16px;
        border-radius: 6px;
        border: 1px solid #99b3cc;
    }

    button {
        width: 140px;
        padding: 10px;
        font-size: 16px;
        margin: 10px;
        background: #003366;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        opacity: 0.8;
    }

    #hasil-box {
        margin-top: 25px;
        background: #ffffff;
        padding: 20px;
        border-left: 6px solid #003366;
        border-radius: 8px;
        width: 380px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        font-size: 16px;
    }

    #hasil-box h3 {
        margin-top: 0;
        color: #003366;
    }