body {
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 30px;
    }

.container {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
        margin-bottom: 20px;
    }

    select, input {
        width: 200px;
        padding: 10px;
        margin: 8px 0;
        font-size: 16px;
    }

    button {
        width: 120px;
        padding: 10px;
        margin: 10px;
        font-size: 16px;
        background: #D579B6;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        opacity: 0.8;
    }

    #hasil {
        margin-top: 20px;
        font-size: 18px;
        font-weight: bold;
    }